@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lb-primary: #d30616; /* Extracted Red from logo.png */
  --lb-secondary: #007cc3; /* Extracted Blue from logo.png */
  --lb-accent: #f8971d; /* Extracted Orange from logo.png */

  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
