@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lb-primary: #e31a23; 
  --lb-secondary: #027dc3; 
  --lb-accent: #f8971d; 

  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
